# Ignore Node.js modules directory
node_modules

# Ignore lock files
package-lock.json
pnpm-lock.yaml

# Ignore sensitive files
data/firebasePrivateKey.json
data/database.json
data/database-copy.json
data/firestore_backup.json
data/webgfa.db
data/webgfa.db-shm
data/webgfa.db-wal

.env

# Ignore server log files
server.log
logs/
webgfa.csv

# Ignore packages that are cloned from GitHub by npm run build
packages/*
!packages/build.js

# Ignore scraped sites
src/sites

# Ignore Custom config.json
config.json

# Ignore tests
test

# Ignore tsc output
dist/*
dist