# ignore folders that are auto created and can be regenerated
node_modules

# hide private files
data/firebasePrivateKey.json
server.log
log/
webgfa.csv
data/firestore_backup.json
data/database.json
data/database-copy.json