@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

body {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #fff 1px solid;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    background-color: #1a1a1a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#container {
    display: inline-block;
}

.color-picker-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.color-picker-container label {
    margin-right: 10px;
}

.color-picker {
    margin: 0 10px;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 200px;
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
}

.custom-select-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000;
    border: 1px solid #ccc;
    cursor: pointer;
}

.custom-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #000;
    border: 1px solid #ccc;
    display: none;
    flex-direction: column;
    z-index: 1;
}

.custom-option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.custom-option img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.custom-option:hover {
    background-color: #f0f0f0;
    color: #0f0f0f;
}

.custom-select.open .custom-options {
    display: flex;
}