/* Basic styling */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  background-color: #000;
  /* Set background color to black */
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}

.game-link {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.game-link:hover {
  outline: 2px solid white;
  /* Add white outline when hovering */
}

.game-links {
  margin-top: 20px;
  max-height: 30vh;
  /* Set the maximum height of the container */
  overflow-y: auto;
  /* Enable vertical scrolling if content overflows */
  overflow-x: hidden;
  /* Disable horizontal scrolling */
}

#searchG {
  border-radius: 10px;
  border: 5px solid #007bff;
}

#cus-toggleMenu {
  position: absolute;
  top: 5%;
  right: 5%;
}

#cus-menu {
  position: absolute;
  top: 15%;
  right: 5%;
}
